<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <style>
        body {
            background-color: #f8f9fa; /* Light gray background color */
        }
        .center-box {
            background-color: white;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="center-box">
                <h1>Search Inbound/Outbound</h1>
                <p>Please enter reference key:</p>
                <form th:action="@{/query}" method="get">
                    <div class="form-group">
                        <input type="text" name="query" class="form-control" placeholder="Search..." required>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>
                    <button type="button" class="btn btn-secondary btn-custom" th:onclick="|window.location='@{/}'|">Cancel</button>

                </form>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
